<html>
    <head>
        <title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Login</title>
        </title>
    </head>
    <body>
        <center>
            <h1>BENVENUTO SU AMASOON</h1>
        </center>
        <br>
        <h2>Register</h2>
        <form action="/login" method="get">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            
            <input type="radio" name="sex" value="1">
            <laber for="man">M</laber><br>
            <input type="radio" name="sex" value="2">
            <laber for="woman">F</laber><br><br>

            <input type="submit" value="accedi">
            <input type="submit" value="reset"> 
        </form>
        <br><a href="/signin">Login</a>
    </body>
</html>