<html>
    <head>
        <title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Form Delete Citizen</title>
        </title>
    </head>
    <body>
        <h2>Delete Citizen</h2>
        <form action="/r_delete_cit" method="POST">
            
            <label for="codFiscale">Codice Fiscale:</label><br>
            <input type="text" id="codFiscale" name="codFiscale" required><br><br>

            <input type="submit" value="inserisci">
        </form>
    </body>
</html>