<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cerca Affitto</title>
    </head>


    <body>
        <h1>Inserisci casa in Affitto</h1>

        <form action="/res_ins_affitto" method="post">
            <h2>Inserisci</h2><br>
            <label for="catastale">Catastale:</label><br>
            <input type="text" id="catastale" name="catastale"><br><br>

            <label for="filiale">Filiale Proponente:</label><br>
            <input type="text" id="filiale" name="filiale"><br><br>

            <label for="indirizzo">Indirizzo:</label><br>
            <input type="text" id="indirizzo" name="indirizzo"><br><br>

            <label for="civico">Civico:</label><br>
            <input type="number" id="civico" name="civico" value="1"><br><br>

            <label for="prezzo">Prezzo €:</label><br>
            <input type="number" id="prezzo" name="prezzo" value="0"><br><br>
        
            <div class="radio-group">
                <label>Bagno personale</label>
                <label><input type="radio" name="bagno" value="True"> Si</label>
                <label><input type="radio" name="bagno" value="False"> No</label>
            </div>
        
            <div class="radio-group">
                <label>Tipo</label>
                <label><input type="radio" name="stato" value="PARZIALE" required> Parziale</label>
                <label><input type="radio" name="stato" value="TOTALE" required> Totale</label>
            </div>

            <button type="submit">Inserisci Immobile</button>
        </form>
    </body>
</html>


