<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IS_Immobiliare</title>
    </head>


    <body>
        <h1>IS_Immobiliare</h1>
        <a href="/cerca_vendita">Cerca Case in Vendita</a>
        <br>
        <a href="/cerca_affitto">Cerca Case in Affitto</a>
        <br><br>
        <a href="/inserisci_affitto">Inserisci Case in Affitto</a>
        <br><br>
        <a href="/">Home</a>
    </body>
</html>